/*Resize pokemon when switch them*/
.pokemon-resize{
  animation: backPokemonResize 0.6s forwards;
}
@keyframes backPokemonResize{
  0%{
    width: 90%;
  }
  100%{
    width: 0%;
    opacity: 0;
  }
}

/*when switch and we throw pokeball we pop pokeball in air you know little big and back*/
.pokemon-appearance {
    animation: popFromPokeball 0.6s ease-out;
}
@keyframes popFromPokeball {
  0% {
    transform: scale(0) translateY(20px);
    opacity: 0;
  }
  15% {
    transform: scale(0.6) translateY(-15px);
    opacity: 0.8;
  }
  35% {
    transform: scale(1.15) translateY(-45px);
    opacity: 1;
  }
  55% {
    transform: scale(1.1) translateY(-30px);
  }
  70% {
    transform: scale(1.05) translateY(-5px);
  }
  85% {
    transform: scale(1) translateY(8px); 
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

/*animation of hit/bite pokemon.every pkemon has*/
.pokemon-hit {
    animation: hitAndBack 0.6s ease-in-out;
}
@keyframes hitAndBack {
  0% {
    left: 13%;
    bottom: 42%;
  }
  50% {
    left: 13%;           
    bottom: 54%;        
  }
  100% {
    left: 33%;
    bottom: 58%; 
  }
}    
.EnemyPokemon-hit {
    animation: hitAndBackEnemy 0.6s ease-in-out;
}
@keyframes hitAndBackEnemy {
  0% {
    left: 32%;
    bottom: 58%;
  }
  50% {
    left: 32%;           
    bottom: 68%;        
  }
  100% {
    left: 13%;
    bottom: 42%;
  }
}

.pokemon-hit-effect{
  animation: invisible 0.5s;
}
@keyframes invisible {
  0% { opacity: 1; }
  16% { opacity: 0; }
  33% { opacity: 1; }
  50% { opacity: 0; }
  66% { opacity: 1; }
  83% { opacity: 0; }
  100% { opacity: 1; }
}

.poison-ball {
  position: absolute;
  background: radial-gradient(circle, 
    #9b59b6 0%,   
    #8e44ad 40%,     
    #6c3483 70%,     
    rgba(52, 31, 71, 0.8) 90%,
    rgba(52, 31, 71, 0) 100%);
  border-radius: 50%;
  box-shadow: 0 0 15px #8e44ad, 0 0 25px #6c3483;
  pointer-events: none;
  z-index: 9999;
  animation: poisonBall 0.5s;
}

@keyframes poisonBall {
  0%{
    opacity: 0;
  }
  25%{
    opacity:0.4;
    scale: 1.5;
  }
  50%{
    opacity: 0.7;
    scale: 1.6;
  }
  100%{
    opacity:0.8;
    scale: 2.1;
  }  
}

.leaf-class{
  position:absolute;
}
.greenOrb{
  position: absolute;
  animation: fadeAndGrow 0.5s ease-out forwards;
}

@keyframes fadeAndGrow {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(3.5);  
  }
}
.electroball{
  animation: growOrb 0.2s ease-out forwards;
}
@keyframes growOrb {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(3);  
  }
}
